h2 {
  font-size: 2rem;
  margin: 2rem auto;
}
.news-container {
  box-sizing: border-box;
  padding: 5px auto;
  height: 35rem;
  width: 95%;
  overflow: scroll;
  overflow-y: none;
  margin: 1rem;
  margin-bottom: 4.5rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

  .news-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3rem;
  }
  
}



.news-container ul {
  list-style: none;
}

.news-container li {
  margin-bottom: 10px;
}
