<div class="ticker-wrapper">
    <div class="ticker">
      <span>Disclaimer : Crawling lives rates are just a preview of tentative rates and are not subject to real-time decisions, kindly take the decisions accordingly. Share prices reflected on the website are tentative and may vary according to the quantity of the shares. Subject to market conditions, investors act at their own discretion.      </span> 
      <span>Disclaimer : Crawling lives rates are just a preview of tentative rates and are not subject to real-time decisions, kindly take the decisions accordingly. Share prices reflected on the website are tentative and may vary according to the quantity of the shares. Subject to market conditions, investors act at their own discretion.      </span> 
    </div>
</div>
