.ticker-wrapper {
  width: 100%;
  overflow: hidden;
  background-color: #000000;
  position: sticky;
  top:0rem;
  z-index: 1000;
}

.ticker {
  display: inline-block;
  background-color: #000000;
  white-space: nowrap;
  padding-left: 100%;
  animation: scroll-left 80s linear infinite;
  color: white;
  font-size: 0.8rem;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
