.ticker-wrapper {
  width: 100%;
  overflow: hidden;
  height: 1.7rem;
  background-color: hsl(0, 0%, 0%);
  position: sticky;
  top: 4rem;
  z-index: 2;
}

.ticker {
  display: inline-block;
  background-color: #000000;
  white-space: nowrap;
  padding-left: 100%;
  animation: scroll-left 80s linear infinite;
  color: white;
  font-size: 0.8rem;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
