<div class="contact-container">
  <div style="padding: 1rem;" class="hidden sm:flex contact-image flex-col gap-2">
    <div class="top w-full h-1/2 flex flex-row gap-2">
      <img class="w-1/2 rounded-xl border-3 border-[#1b263b]" src="./backgrounds/background1.png" alt="">
      <div style="padding: 1.5rem 1.5rem;" class="bg-[#1b263b] rounded-xl">
        <h1 class="font-bold text-white text-sm sm:text-3xl ">We're Here to Answer All Your Questions Promptly and
          Professionally.</h1>
      </div>
    </div>
    <div class="bottom w-full rounded-xl">
      <img class="w-full rounded-xl" src="./contact.jpg" alt="">
    </div>
  </div>
  <div style="padding: 1rem;" class="contact-body">
    <div style="padding: 1rem;" class="bg-[#1b263b] w-full h-full rounded-xl">
      <div class="contact-header">
        <h1 class="text-white text-lg">Contact Us</h1>
      </div>
      <div  class="contact-form border rounded-xl bg-white">
        <form [formGroup]="contactForm" (ngSubmit)="handleSubmit()" style="padding: 0.25rem 0.5rem;"
          class="flex flex-col gap-2 rounded-md">
          <div class="flex flex-col sm:flex-row gap-2">
            <div class="form-group w-full sm:w-1/2 flex flex-col gap-1">
              <label style="padding: 0.75rem 0rem;" for="name" class="sm:text-xl text-[#1b263b] font-bold">Name</label>
              <input formControlName="name" style="padding: 0.25rem 0.5rem;"
                class="text-sm h-12 text-gray-500 border-2 border-gray-500 rounded-md focus:outline-none focus:border-blue-900 focus:border-2 px-4 py-2"
                type="text" id="name" name="name" placeholder="Your Name" required />
            </div>
            <div class="form-group w-full sm:w-1/2 flex flex-col gap-1">
              <label style="padding: 0.75rem 0rem;" for="name" class="text-[#1b263b] sm:text-xl font-bold">Phone</label>
              <input formControlName="phone" style="padding: 0.25rem 0.5rem;"
                class="text-sm h-12 text-gray-500 border-2 border-gray-500 rounded-md focus:outline-none focus:border-blue-900 focus:border-2 px-4 py-2"
                type="tel" id="phone" name="phone" placeholder="Your Phone No." required />
            </div>
          </div>
          <div  class="form-group flex flex-col gap-1">
            <label style="padding: 0.75rem 0rem;" for="name" class="text-[#1b263b] sm:text-xl font-bold">Email</label>
            <input formControlName="email" style="padding: 0.75rem 0.5rem;"
              class="text-sm h-12 text-gray-500 border-2 border-gray-500 rounded-md focus:outline-none focus:border-blue-900 focus:border-2 px-4 py-2"
              type="email" id="email" name="email" placeholder="abc@mail.com" required />
          </div>

          <div class="form-group flex flex-col gap-1">
            <label style="padding: 1rem 0.5rem;" for="message" class="text-[#1b263b] sm:text-xl font-bold">Message</label>
            <textarea formControlName="message" style="padding: 0.75rem 0.5rem;" id="message" name="message" rows="4"
              class="text-sm text-gray-500 border-2 border-gray-500 rounded-md focus:outline-none focus:border-blue-900 focus:border-2 px-4 py-2"
              placeholder="How can we help you?" required></textarea>
          </div>
          <button [disabled]="contactForm.invalid" (click)="handleSubmit()"
            style="padding: 0.75rem 0.5rem;margin: 1rem auto;" type="submit"
            class="w-30 submit-btn bg-[#1b263b] text-white font-bold rounded-md">Submit</button>
        </form>
      </div>

      <div *ngIf="isSubmited" style="padding: 0.5rem 1rem;"
        class="message-box text-sm rounded-md bg-green-300 text-center">
        Our representative will reach you shortly
      </div>
    </div>
  </div>
</div>
<app-footer3></app-footer3>