<footer class="footer">
  <div class="footer-content">

    <!-- Branding -->
    <div class="footer-section">
      <!-- <img src="./assets/footer-logo.png" alt=""> -->
      <!-- <h2 class="brand">GRP CAREER PRIVATE LIMITED
        </h2> -->
      <h2 class="tagline" style="font-size: 2rem; width: 20rem;"> Unlisted Equities</h2>
       <ul class="footer-links">
        <li><a routerLink="/disclaimer">Disclaimer</a></li>
        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
        <li><a routerLink="/terms-and-conditions">Terms & Conditions</a></li>
       </ul>
    </div>

    <!-- Links -->
    <div class="footer-section">
      <h3>Quick Links</h3>
      <ul class="footer-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/news">News</a></li>
        
      </ul>
    </div>

    <!-- Contact & Socials -->
    <div class="footer-section">
      <h3>Contact</h3>
      <p><i class="fas fa-envelope"></i> {{contactInfo2.email}}</p>
      <p><i class="fas fa-phone"></i> {{contactInfo2.phoneNo}}</p>

      <div class="social-icons">
        <a href="https://facebook.com" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/unlistedequities/" target="_blank" aria-label="Instagram"><i
            class="fab fa-instagram"></i></a>
        <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://twitter.com" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    &copy; 2025 GRPCareer. All rights reserved.
  </div>
</footer>