<li class="news-card-web">
  <a [href]="newItem.link" target="_blank" rel="noopener noreferrer">
    <img [src]="newItem.image_url" alt="news image" class="news-image" />
    <div class="news-content">
      <h3 class="news-title">{{ newItem.title }}</h3>
      <h4 class="news-description">{{newItem.description}}</h4>
      <p class="news-date">{{ newItem.pubDate | date: 'mediumDate' }}</p>
    </div>
  </a>
</li>

<li class="news-card-mobile">
  <a [href]="newItem.link" target="_blank" rel="noopener noreferrer">
    <img [src]="newItem.image_url" alt="news image" class="news-image-mobile" />
    <div class="news-content-mobile">
      <h3 class="news-title-mobile">{{ newItem.title }}</h3>
      <p class="news-date-mobile">{{ newItem.pubDate | date: 'mediumDate' }}</p>
    </div>
  </a>
</li>