:root {
    --primary-color: #dae6ef;
    --secondary-color: #008000;
    --third-color: #008000;
    --footer-background: #008000;
    --text-color: #333;
    --heading-font: 'Inter', sans-serif;
    --body-font: 'Arial', sans-serif;
    --border-radius: 8px;

  }
  