<div class="trending-container-web" >
    <div class="trending-card" *ngIf="currentStock">
        <div class="details">
            <!-- <div class="logo"> -->
                <img src="{{currentStock.logo}}" alt="">
            <!-- </div> -->
            <div class="dets">
                <h3>{{currentStock.company_name}} </h3>
                <!-- <h3>Price: ₹ {{currentStock.price_per_share}} </h3> -->
                <h4>Sector: {{currentStock.sector}} </h4>
            </div>
        </div>
        <div class="more-details">
            <div class="description">
                <h2>{{currentStock.description}}</h2>
            </div>
            <div class="highlight">
                <h2>Highlights</h2>
                <ul>
                    <li *ngFor="let highlight of currentStock.highlights">{{highlight}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="trending-container-mobile" >
    <div class="trending-card" *ngIf="currentStock">
        <div class="details">
            <!-- <div class="logo"> -->
                <img src="{{currentStock.logo}}" alt="">
            <!-- </div> -->
            <div class="dets">
                <h3>{{currentStock.company_name}} </h3>
                <!-- <h3>Price: ₹ {{currentStock.price_per_share}} </h3> -->
                <h3>Sector:{{currentStock.sector}} </h3>
            </div>
        </div>
        
</div>
