<input type="text" placeholder="Search stocks..." [(ngModel)]="searchQuery" (input)="applyFilters()"
  class="search-box" />
<div class="hot-deals-banner" (click)="showForm = true">
  GET HOT DEALS At best price - Click Here!!
</div>
<div class="screener-container">
  <div class="filters">
    <h2>Sector</h2>
    <br>
    <div class="filter-group">
      <label *ngFor="let sector of allSectors">
        {{ sector }}
        <input type="checkbox" (change)="toggleSelection(sector, selectedSectors)" />
      </label>
    </div>
  </div>

  <div class="table-wrapper" style="margin: 0px auto;">
    <table class="stock-table">
      <thead>
        <tr>
          <th>Stock Name</th>
          <th>Current Price</th>
          <th>M.Cap</th>
          <th>P/E</th>
          <th>roce</th>
          <th>roe</th>
          <th>3yr REV cagr</th>
          <th>Quote</th>

        </tr>
      </thead>
      <tbody class="table-body">
        <tr *ngFor="let stock of filteredStocks">
          <td>{{ stock.name }}</td>
          <td>₹{{ stock.price }}</td>
          <td>₹{{ stock.mcap }}</td>
          <td>{{ stock.pe }}</td>
          <td>{{ stock.roce || 'NA' }}</td>
          <td>{{ stock.roe }}</td>
          <td>{{ stock.three_yr_rev_charge }}</td>
          <td><button (click)="showForm = true" class="btn">Get Quote</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Trigger Button -->


<!-- Form Modal -->
<div *ngIf="showForm" class="overlay">
  <div class="form-popup">
    <h2>Please Fill The Form</h2>
    <h3 style="color: var(--secondary-color);">We Are Just One Call Away</h3>
    <div class="footer-section" [ngStyle]="{
      background: 'linear-gradient(-45deg, #ff6ec4, #7873f5, #4ade80, #facc15)',
      backgroundSize: '400% 400%',
      animation: 'gradientMove 15s ease infinite'
    }">
      <p [ngStyle]="{fontSize:'1.25rem'}"><i class="fas fa-envelope"></i> {{contactInfo2.email}}</p>
      <p [ngStyle]="{fontSize:'1.25rem'}"><i class="fas fa-phone"></i> {{contactInfo2.phoneNo}}</p>
    </div>

    <form action="https://formsubmit.co/unlistedequities@gmail.com" method="POST">
      <div class="form-grid">
        <div class="form-group">
          <label>Enter Stock Quantity:</label>
          <input type="number" name="quantity" required />
        </div>
 

        <div class="form-group">
          <label>Full Name:</label>
          <input type="text" name="fullname" required />
        </div>
        <div class="form-group">
          <label>Contact Number:</label>
          <input type="tel" name="phoneNo" required />
        </div>

        <div class="form-group full-width">
          <label>Email:</label>
          <input type="email" name="email" placeholder="Optional" />
        </div>
      </div>

      <div class="form-buttons">
        <button type="submit" class="submit-btn">Submit</button>
        <button type="button" (click)="showForm = false" class="close-btn">Close</button>
      </div>
    </form>
  </div>
</div>
<div class="disclaimer">
  <p><strong>Disclaimer:</strong> This screener is for informational and exploratory purposes only. UnlistedEquities
    does not facilitate direct trading. All transactions, if initiated, are privately executed via our proprietary desk
    or authorized intermediaries. Prices are indicative and subject to negotiation.</p>
</div>
<app-floating-whatsapp></app-floating-whatsapp>