
<div class="hot-deals-banner" (click)="handleClick()">
  GET HOT DEALS At best price - Click Here!!
</div>
<div class="screener-container">
  <div class="filters">
    <h2>Sector</h2>
    <br>
    <div class="filter-group">
      <label *ngFor="let sector of allSectors">
        {{ sector }}
        <input type="checkbox" (change)="toggleSelection(sector, selectedSectors)" />
      </label>
    </div>
  </div>

  <div class="table-wrapper" style="margin: 0px auto;">
    <input type="text" placeholder="Search stocks..." [(ngModel)]="searchQuery" (input)="applyFilters()"
  class="search-box" />
    <table class="stock-table">
    <thead>
      <tr>
        <th>Stock Name</th>
        <th>Current Price</th>
        <th>M.Cap(Cr)</th>
        <th>P/E</th>
        <th>ROCE</th>
        <th>ROE</th>
        <th>QUOTE</th>
      </tr>
    </thead>
    <tbody class="table-body">
      <tr *ngFor="let stock of filteredStocks">
        <td data-label="Stock Name">{{ stock.name }}</td>
        <td data-label="Current Price">₹{{ stock.price }}</td>
        <td data-label="M.Cap(Cr)">₹{{ stock.mcap }}</td>
        <td data-label="P/E">{{ stock.pe }}</td>
        <td data-label="ROCE">{{ stock.roce || 'NA' }}</td>
        <td data-label="ROE">{{ stock.roe }}</td>
        <td data-label="QUOTE"><button (click)="handleClick()" class="btn">Get Quote</button></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
<!-- Trigger Button -->


<!-- Form Modal -->
<!-- <div *ngIf="showForm" class="overlay">
  <div class="form-popup">
    <h2>Please Fill The Form</h2>
    <h3 style="color: var(--secondary-color);">We Are Just One Call Away</h3>
    <div class="footer-section" [ngStyle]="{
      background: 'linear-gradient(-45deg, #ff6ec4, #7873f5, #4ade80, #facc15)',
      backgroundSize: '400% 400%',
      animation: 'gradientMove 15s ease infinite'
    }">
      <p [ngStyle]="{fontSize:'1.25rem'}"><i class="fas fa-envelope"></i> {{contactInfo2.email}}</p>
      <p [ngStyle]="{fontSize:'1.25rem'}"><i class="fas fa-phone"></i> {{contactInfo2.phoneNo}}</p>
    </div>

    <form action="https://formsubmit.co/crowm@gmail.com" method="POST">
      <div class="form-grid">
        <div class="form-group">
          <label>Full Name:</label>
          <input type="text" name="fullname" required />
        </div>
        <div class="form-group">
          <label>Contact Number:</label>
          <input type="tel" name="phoneNo" required />
        </div>

        <div class="form-group full-width">
          <label>Email:</label>
          <input class="text-gray-500" type="email" name="email" placeholder="Your Email" />
        </div>
      </div>

      <div class="form-buttons">
        <button type="submit" class="submit-btn">Submit</button>
        <button type="button" (click)="showForm = false" class="close-btn">Close</button>
      </div>
    </form>
  </div>
</div> -->
<div class="disclaimer">
  <p><strong>Disclaimer:</strong> This screener is for informational and exploratory purposes only. UnlistedEquities
    does not facilitate direct trading. All transactions, if initiated, are privately executed via our proprietary desk
    or authorized intermediaries. Prices are indicative and subject to negotiation.</p>
</div>
<app-floating-whatsapp></app-floating-whatsapp>
<app-footer3></app-footer3>
