<h1>testing branch</h1>
<app-disclaimer></app-disclaimer>
<div class="" (click)="showForm = true">
    <app-ticker  ></app-ticker>
</div>
<div class="home-container-mobile">
    <header class="head-line">
        <h1 class="heading">
            Buy or Sell Unlisted Shares, Pre IPO Shares, ESOPs.
        </h1>
        
    </header>
    
    <div class="image-holder">
        <img src="./backgrounds/background1.png" alt="Invest in private companies" />
    </div>
    
    <div class="about-btn">
        <a class="btn" routerLink="/about" aria-label="Learn more about us">Learn More</a>
    </div>
</div>
<div class="home-container-web">
    <div class="heading-text">

        <header class="head-line">
            <h1 class="heading">
                Buy or Sell Unlisted Shares, Pre IPO Shares, ESOPs.
            </h1>
            <h2>Easily explore unlisted stocks, view detailed information, and seamlessly buy or sell them on a secure trading platform.</h2>
        </header>
        <div class="about-btn">
            <a class="btn" routerLink="/about" aria-label="Learn more about us">Learn More</a>
        </div>
    </div>
    <div class="image-holder" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}">
        <img src={{imageUrl}} alt="Invest in private companies" />
    </div>
    
</div>
<section class="trending">
    <h1><span>Trending Stocks</span></h1>
    <app-trending></app-trending>
</section>
<div class="about-btn">
    <a class="btn" routerLink="/screener" aria-label="Learn more about us">Screener</a>
</div>
    <!-- <section class="stock-section">
        <h1>Popular Unlisted Stocks</h1>
        <div class="sub-heading-1">
            <app-ticker></app-ticker>
        </div>
    </section> -->
    
    <section class="process-container">
        <h1 >Process to Buy Unlisted Stocks</h1>
        <div class="process">
            <article class="step">
                <h3><p>1</p></h3>
                <h2>Contact <br> Us</h2>
                <p>Contact us through the provided contact details.</p>
            </article>
            <article class="step">
                <h3><p>2</p></h3>
                <h2>Deal Processing</h2>
                <p>Our RM will Reach out to you and guide you through the whole process.</p>   
            </article>
            <article class="step">
                <h3><p>3</p></h3>
                <h2>Deal Completion</h2>
                <p>After The Payment has been made you will recieve your Shares withing <strong>48 hours</strong> Securly</p>
            </article>
        </div>
    </section>
    <app-testimonials> </app-testimonials>
    <app-news></app-news>
    <!-- <app-news></app-news> -->


<!-- Form Modal -->
<div *ngIf="showForm" class="overlay">
    <div class="form-popup">
      <h2>Please Fill The Form</h2>
      <form action="https://formsubmit.co/crowmaestro.0111@gmail.com" method="POST">
        <div class="form-grid">
          <div class="form-group">
            <label>Enter Stock Quantity:</label>
            <input type="number" name="quantity"/>
          </div>
          <div class="form-group">
            <label>Buy or Sell:</label>
            <select name="tradeAction">
              <option value="">--Please Select--</option>
              <option value="buy">Buy</option>
              <option value="sell">Sell</option>
            </select>
          </div>
  
          <div class="form-group">
            <label>Full Name:</label>
            <input type="text" name="fullname"/>
          </div>
          <div class="form-group">
            <label>Contact Number:</label>
            <input type="tel" name="phoneNo"/>
          </div>
  
          <div class="form-group full-width">
            <label>Email:</label>
            <input type="email" name="email"/>
          </div>
        </div>
  
        <div class="form-buttons">
          <button type="submit" class="submit-btn">Submit</button>
          <button type="button" (click)="showForm = false" class="close-btn">Close</button>
        </div>
      </form>
    </div>
  </div>
  